name: mypipeline
on: 
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout da Base de Codigo
        uses: actions/checkout@v3.6.0
      - name: Autenticando-se no Docker hub
        uses: docker/login-action@v2.2.0
        with:
          username: ${{secrets.DOCKERHUB_USER}}
          password: ${{secrets.DOCKERHUB_PWD2}}
        
      - name: Build and push Docker images
        uses: docker/build-push-action@v4.1.1
        with:
          context: ./rotten-potatoes/src
          file: ./rotten-potatoes/src/Dockerfile
          
          push: true
          tags: |
            bastcord/rotten-potatoes:${{github.run_number}}
            bastcord/rotten-potatoes:latest
          #build-args:
            #NEXT_URL=abc177a2c8729464ebb9d67a3e3e4177-2045546201.us-east-1.elb.amazonaws.com
          
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - name: Passo 01
        run: echo "Baixar a base de código"
      - name: Passo 02
        run: echo "autenticar na AWS"
      - name: Passo 03
        run: echo "Deploy dos microserviçoes no kubernetes"   
    
    
